@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
    color: #E6911A;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 0.5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

p {
    display: inline;
}

#desti_manual{
  margin-top: 10px;
}

#manualSourceAddress{
  margin-left: 30px;
}

.manbutton{
  border: none;
  color: white;
  padding: 10px 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 8px;
  background-color: #268383;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}

.manbutton:hover {
  background-color: #E6911A;
}

.start {
    height: 25%;
}

.end {
    height:75%;
}

.buttons {
  margin: auto;
  width: 10%;
}

.row{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}
.column {
  padding-top: 0.5%;
    float: left;
    display: inline-block;
}

.column1{
    width: 15%;
    text-align: center;
}

.column2{
    width: 25%;
    text-align: center;
}

.column3, .column4{
    width: 10%;
    text-align: center;
}

.column5, .column6{
    width: 20%;
    line-height: 18px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.head{
    color: #268383;
    font-weight: bold;
    font-size: 14px;
}

.centering{
    text-align: center;
}
